<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p> 
<% end %>

<% unless this_cart.nil? %>
  <%= render partial: 'line_item', collection: this_cart.line_items %>

  <p>
    Order total: <strong><%= number_to_currency(this_cart.total.to_f/100) %></strong>
  </p>

  <%= button_to 'Checkout', checkout_path %>

<% end %>